body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/* Table Hover */
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #7fdbda;
}

/* The navigation bar */
#navigation-bar {
  /* Set the navbar to fixed position */
  /* position: fixed; */
  /* Position the navbar at the top of the page */
  top: 0;
  /* Full width */
  width: 100%;
}


p {
  color: #8f8f8f;
}

/*Profile info*/
 #profile {
  background-color: #7fdbda;
  padding: 50px 0 50px 0;
}

.row {
  width: 50%;
  margin: auto;
  text-align: left;
}

.profile-picture {
  max-width: 30%;
  height: auto;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  /* box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18); */
}


/* Expertise Section */
h2.expertise-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.expertise-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.amazon-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.kubernetes-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.terraform-img {
  width: 30%;
  float: right;
  margin-right: 30px;
}

.ansible-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 20%;
  float: right;
  margin-right: 30px;
}

.troubleshooting-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

/* Licenses and certificate Section */
h3.licenses-and-certifications-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.certificate-img {
  border: 3px solid #130f40;
  margin: 50px auto 0px auto;
  width: 1000px;
}

.col-lg-12 {
  position: static;
}

.btn-oci {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-aws {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-machine-learning {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-full-stack-udemy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-python-cloud-academy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-web-development-udemy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

img.certificate-globe-telecom {
  margin-bottom: 50px;
}

/* Experience Section */

.experience-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}
.experience-row {
  border: 5px solid #3498db;
  margin: 50px auto 50px auto;
  width: auto;
}

.date-work {
  font-size: 35px;
  border: 1px solid black;
}

.date {
  border: 1px solid black;
}

.work {
  border: 1px solid black;
}

.experience-date {
  border: 1px solid black;
}

.experience-position {
  border: 1px solid black;
  text-align: justify;
}

/* Awards Section */
.award-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.award-row {
  border: 5px solid #3498db;
  margin: 50px auto 50px auto;
  width: auto;
}

.date-award {
  font-size: 35px;
  border: 2px solid black;
}

.date {
  border: 1px solid black;
}

.award {
  border: 1px solid black;
}

.award-date {
  border: 1px solid black;
}

.award-name {
  border: 1px solid black;
  text-align: justify;
}

/* Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* Footer Section */
.social-icon {
  margin: 20px 10px;
  font-size: 50px;
}

/* Scroll Back to Top Button */
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: green;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
