body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/* Table Hover */
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #7fdbda;
}

/* The navigation bar */
#navigation-bar {
  /* Set the navbar to fixed position */
  /* position: fixed; */
  /* Position the navbar at the top of the page */
  /* Full width */
  width: 100%;
}

/* Profile Heading*/
#heading-primary {
  background-image: url("images/background-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 100px;
  padding-bottom: 200px;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  #heading-primary {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}

.main-heading {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

/* If the screen size is 375px to 500px wide */
@media (min-width: 375px) and (max-width: 500px) {
  .main-heading {
    font-size: 3.625rem;
  }
}

/* If the screen size is 501px to 768px wide */
@media (min-width: 501px) and (max-width: 768px) {
  .main-heading {
    font-size: 4.625rem;
  }
}

/* If the screen size is 769px to 800px wide */
@media (min-width: 769px) and (max-width: 800px) {
  .main-heading {
    font-size: 5.625rem;
  }
}

/* If the screen size is 800px to 1536px wide */
@media (min-width: 800px) and (max-width: 1536px) {
  .main-heading {
    font-size: 5.625rem;
  }
}

.position {
  color: #ecf0f1;
  font-size: 1rem;
}

.aws {
  font-size: 24px;
}




/*Profile info*/
#profile-info {
  background-color: #7fdbda;
  padding: 50px 0 50px 0;
}

.row {
  width: 50%;
  margin: auto;
  text-align: left;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.profile-about {
  padding-top: 25px;
  text-align: center;
}

/* Expertise Section */
h2.expertise-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.expertise-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.amazon-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.kubernetes-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.terraform-img {
  width: 30%;
  float: right;
  margin-right: 30px;
}

.ansible-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 20%;
  float: right;
  margin-right: 30px;
}

.troubleshooting-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

/* Licenses and certificate Section */
h2.licenses-and-certifications-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.certificate-img {
  border: 3px solid #130f40;
  margin: 50px auto 0px auto;
  width: 1000px;
}

.col-lg-12 {
  position: static;
}

.btn-oci {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-aws {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-machine-learning {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-full-stack-udemy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-python-cloud-academy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

.btn-web-development-udemy {
  /* position: relative; */
  margin: 5px auto 0px auto;
  width: 1000px;
}

img.certificate-globe-telecom {
  margin-bottom: 50px;
}

/* Experience Section */
h2.experience-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.experience-row {
  border: 5px solid #3498db;
  margin: 50px auto 50px auto;
  width: auto;
}

.date-work {
  font-size: 35px;
  border: 1px solid black;
}

.date {
  border: 1px solid black;
}

.work {
  border: 1px solid black;
}

.experience-date {
  border: 1px solid black;
}

.experience-position {
  border: 1px solid black;
  text-align: justify;
}

/* Awards Section */
h2.award-heading {
  padding: 1.5% 0 1.5% 0;
  font-size: 3rem;
  background-color: #6c5ce7;
}

.award-row {
  border: 5px solid #3498db;
  margin: 50px auto 50px auto;
  width: auto;
}

.date-award {
  font-size: 35px;
  border: 2px solid black;
}

.date {
  border: 1px solid black;
}

.award {
  border: 1px solid black;
}

.award-date {
  border: 1px solid black;
}

.award-name {
  border: 1px solid black;
  text-align: justify;
}

/* Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
  font-size: 50px;
}

/* Scroll Back to Top Button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
